<div class="wrapper backgroundwrapper">
    <section class="custom-wrap custom-middle">
        <div class="container">
            <div class=" middle-box">
                <div class="row">
                    <div class="col-md-6">
                        <div class="blue-box">
                            <div class="mwaloni">
                                <h4>PrintAny</h4>
                                <!-- <p>Intelligent Systems</p> -->
                            </div>
                            <div class="tree-img">
                                <img src="/assets/mainLogoAR.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- <div class="welcome-form "> -->
                            <%= form_with scope: :user,url: sessions_register_path, id: "user_signup_form" do |f| %>
                             <div class="form-group mt-5">
                                <label for="exampleInputEmail1" class="gray-txt">Name</label>
                                <%= f.text_field :name,class: "form-control form-input t-11" ,"aria-describedby": "emailHelp" ,placeholder: "Name" %>
                            </div>
                            <div class="form-group mt-5">
                                <label for="exampleInputEmail1" class="gray-txt">Email</label>
                                <%= f.text_field :email,class: "form-control form-input t-11" ,"aria-describedby": "emailHelp" ,placeholder: "Email Address" %>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="gray-txt">Password</label>
                                <%= f.password_field :password,class: "form-control form-input t-11","aria-describedby": "emailHelp",placeholder: "Password" %>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="gray-txt">Confirm Password</label>
                                <%= f.password_field :confirm_password,class: "form-control form-input t-11","aria-describedby": "emailHelp",placeholder: "Confirm Password" %>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="gray-txt">Select User Type</label>
                                <!-- <select name="user[role]" class="form-control form-control2 select_opt">
                                  <option value="Client" selected="">Client</option>
                                  <option value="Agent">Agent</option>
                              </select> -->
                               
                              <%= f.select :role,options_for_select(['Client','Agent']), {:prompt => "Select User Type"},class: "form-control form-control2 select_opt",id: "abc12"%>



                            </div>
                             <ul class="button-forget-list mt-3">
                                <li>
                                    <%= f.submit "Submit",class: "nav-link btn btn-outline-dark" %>
                                </li>
                              
                                <li>
                                    <span class="gray-txt">
                                        <div>
                                        <a class="nav-link btn btn-outline-dark" href="<%#= sessions_path %>/">Log in</a>
                    
                                        </div>
                                    

                                </li>
                            </ul>
                            
                            <%end%>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
$(document).ready(function(){
$("#user_signup_form").validate({

  errorPlacement: function (error, element) {
               error.insertBefore(element);
              },
    rules: {
      "user[name]":{
        required: true,
        user_nospace_regex: true,
        userRegex: true,
        minlength: 2,
        maxlength: 28
      },
      "user[email]":{
       required: true,
       remote: "/resend"
      },
      "user[role]":{
       required: true
      },
      "user[password]":{
       required: true,
        minlength: 8,
        maxlength: 16
      },
      "user[password_confirmation]":{
        required: true,
        equalTo: "#user_pass",
        minlength: 8,
        maxlength: 16
      }
    }, 
    messages: { 
            "user[email]": {
              remote: "Only gmail.com is acceptable."
            },
            "user[password_confirmation]": {
              equalTo: "Confirm password didn't match."
            }
        },
        
        
  });
  });

  $.validator.addMethod("userRegex", function(value, element) {
    return this.optional(element) || /^(?=[^@]*[A-Za-z])([a-zA-Z -])+$/i.test(value);
  }, "Please enter a valid characters, accepts only alphabets.");

  $.validator.addMethod("user_nospace_regex", function(value, element) {
    return this.optional(element) || /^[^-\s][a-zA-Z0-9_\s-]+$/i.test(value);
  }, "Character only. ");
</script>

<style type="text/css">
  .msg-error{
        color: #e80b0b;
  }
  .error{
            color: #e80b0b;
  }
</style>

