<%= render 'layouts/client_header' %>

<div class="page-wrapper">
      <div class="container home-wrap">
        <div class="profil-row">
          <div class="user-profile">
            <h4><%= current_user&.name %></h4>
          </div>
          <div class="user-detail">
            <div class="ratings">
              <h3 class=""><%= @orders.count %></h3>
              <span>Orders</span>
            </div>
          </div>
        </div>
        <div class="myscore-row">
          <h2 class="main-title">My Orders</h2>
          <div class="table-responsive activity-table-scroll-big ">
            <table class="table activity-table" id="sort">
              <thead>
                <tr class="table-fontsize">
                  <th scope="col">id</th>
                  <th scope="col">Order Name</th>
                  <th scope="col">Image/File</th>
                  <th scope="col">Comment</th>
                </tr>
              </thead>
              <tbody>
                <% @orders.each_with_index do |order, i| %>
                <tr class="table-fontsize white-background">
                  <td><%= i+1 %></td>
                  <td><%= order&.product.name %></td>
                  <%if order.file.format == "pdf"%>
                  <td>
                    <a download="section name" href="<%= order&.file&.url%>"target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>PDF</a></td>
                  <%else%>
                  <td><img src="<%= order&.file&.url%>" style="max-width: 200px;" alt=""></td>
                  <%end%>
                  <td><p style="max-width: 300px"><%= order&.description %></p></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
<%= render 'layouts/client_footer' %>
    
    <style type="text/css">
      .user-profile  {
        border-radius: 50%;
        margin-bottom: 20px;
      }


    </style>