<body>
   
  <div class="wrapper">
    <section class="custom-wrap">
      <div class="container">
        <div class="Dashboard-section">
          

          <div class="row mt-5 mb-5">
            <div class="col-md-12">
              <div class="">
                <ul class="list-none d-flex j-space">
                  <li>
                    <p class="black-bold-color">User Management</p>
                  </li>
                </ul>
                <ul class="list-none d-flex right-data">
               
                 <!--  <li class="search-box">
                    <input type="text" class="form-control " placeholder="Search">
                  </li> -->
                  <li class="nav-item">
                    <%=form_tag "/orders/client_user", method: :get,  class:"search-box" do  %> 
                    <span>               
                    <select class="form-control" name="user[blocked]">
                      <option value="">Select User Status</option>
                      <option value="Unblock">Active</option>
                      <option value="Block">Block</option>
                    </select>

                    <input type="search" name="user[name]" class="form-control" placeholder="Search User by Name">
                    <%= submit_tag "Search" %>
                    </span>
                    <%end%>
                </li>
                  
                </ul>
                <div class="table-responsive activity-table-scroll-big ">
                  <table  class="table activity-table" id="sort">
                    <thead>
                      <tr class="table-fontsize">
                        <th scope="col">id</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">User Type</th>

                      </tr>
                    </thead>
                    <tbody>
                      <% @users.each_with_index do |user, i| %>
                      <tr class="table-fontsize white-background">
                        <td style="width: 5%"><%= i+1 %></td>
                        <td style="width: 10%"><%= user&.name %></td>
                        <td style="width: 30%"><%= user&.email %></td>
                        <td style="width: 30%"><%= user&.role %></td>
                        

                      <% end %>
                    </tbody>
                  </table>
                </div>
            
              </div>
            </div>
          </div>

        </div>
    </section>

  </div>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>