<body>
   
  <div class="wrapper">
    <section class="custom-wrap">
      <div class="container">
        <div class="Dashboard-section">
          

          <div class="row mt-5 mb-5">
            <div class="col-md-12">
              <div class="">
                <ul class="list-none d-flex j-space">
                  <li>
                    <p class="black-bold-color">order Management</p>
                  </li>
                </ul>
                <ul class="list-none d-flex right-data">
               <li class="search-box">
               	<a href="/orders/new">
               	<button class="green-btn-sqare create-btn-sqare">Create New order</button>
               </a>
               </li>
                  <li class="search-box">
                    <input type="text" class="form-control " placeholder="Search">
                  </li>
                  
                </ul>
                <div class="table-responsive activity-table-scroll-big ">
                  <table  class="table activity-table" id="sort">
                    <thead>
                      <tr class="table-fontsize">
                        <th scope="col">id</th>
                        <th scope="col">order Name</th>
                        <th scope="col">Image</th>
                        <th scope="col">File</th>
                        <th scope="col">Description</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @orders.each_with_index do |order, i| %>
                      <tr class="table-fontsize white-background">
                        <td style="width: 5%"><%= i+1 %></td>
                        <td style="width: 10%"><%= order&.product.name %></td>
                        <td style="width: 30%"><img src="<%= order.image.url %>"></td>
                        <td style="width: 10%"><%= order&.file&.file&.file&.split('/')&.last %></td>
                        <td style="width: 30%"><%= order&.comment %></td>
                        <td style="width: 15%">
                          <a href="<%= update_status_admin_path(order.id)%>">
                          <% if order&.status == "Approve" %>
                            <button class="btn btn-danger btn-sm">Reject</button>
                          <% else %>
                            <button class="btn btn-primary btn-sm">Approve</button>
                          <% end %>
                        </td>
                      <% end %>
                    </tbody>
                  </table>
                </div>
            
              </div>
            </div>
          </div>

        </div>
    </section>

  </div>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>